	<div class="center hero-unit">

  <h1>Welcome to Pacific Goods!</h1>
  
  <%= link_to image_tag("grocer.jpeg", alt: "Rails"), 'http://rubyonrails.org/' %>
  
  <p>
  <h2>Buy all the good stuff, the Asian style</h2>

  <%= link_to "Checkout Great Deals Now!", signin_path, class: "btn btn-large btn-primary" %>


</div>

<!--
  <h12>
  	<p><p><p>
    Note: This site was built using
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h12>


<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %> -->